[tool.ruff]
target-version = "py39"
exclude = ["*.asv", "benchmarks", "_version.py", "versioneer.py"]
lint.ignore = [
    "E741",
    "E402",
    "E501",
    "E722",
    "PLR",
    "PLW2901",
    "PLW0642",
    "RUF012",  # enforces type annotations on a codebase that lacks type annotations
    "B904",
    "ISC001",
    "UP031",
]
lint.select = [
    "E",
    "F",
    "W",  # flake8
    "B",
    #"B904",  # flake8-bugbear
    "I",  # isort
    #"ARG",         # flake8-unused-arguments
    "C4",  # flake8-comprehensions
    "ISC",  # flake8-implicit-str-concat
    "PGH",  # pygrep-hooks
    "PIE",  # flake8-pie
    "PL",  # pylint
    #"PT",  # flake8-pytest-style
    #"RUF",  # Ruff-specific
    #"SIM",  # flake8-simplify
    "UP",  # pyupgrade
    "YTT"  # flake8-2020
]
