name: Compile without helpers

on: [push, pull_request]

jobs:
  compile-without-helpers:
    name: Compile without helpers
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        miniconda-version: "latest"
        channels: conda-forge
        python-version: '3.10'

    - name: Install dependencies
      shell: bash -l {0}
      run: conda install root='6.26.2'

    - name: Build
      shell: bash -l {0}
      env:
        COMPONENTS: calibration display fit mfile-root
      run: |
        for COMPONENT in $COMPONENTS; do
        cd ${HOME}
        mkdir build-${COMPONENT}
        cd build-${COMPONENT}
        CC=gcc-10 CXX=g++-10 cmake ${GITHUB_WORKSPACE}/hdtv/rootext/${COMPONENT}
        CC=gcc-10 CXX=g++-10 cmake --build .
        done
